
channels==2.3.1
channels-redis==2.4.1
Django==3.0.3
django-cors-headers==3.2.0
django-filter==2.2.0
django-filters==0.2.1
djangorestframework==3.10.3
drf-dynamic-fields==0.3.1
graphene==2.1.8
graphene-django==2.7.1

incremental==17.5.0
msgpack==0.6.2
Pillow==6.2.1
promise==2.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.22.0
Rx==1.6.1
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.13.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
urllib3==1.25.7
zope.interface==4.7.1
